@keyframes changeBgcAndBoxShadowColor {
  0% {
    color: deeppink;
    box-shadow: 0px 25px 65px 0px rgba(255, 20, 147, 0.5),
      0px 35px 22px 0px rgba(255, 20, 147, 0.16);
  }

  10% {
    color: rgb(255, 0, 0);
    box-shadow: 0px 25px 65px 0px rgba(255, 0, 0, 0.5),
      0px 35px 22px 0px rgba(255, 0, 0, 0.16);
  }

  20% {
    color: rgb(255, 166, 0);
    box-shadow: 0px 25px 65px 0px rgba(255, 166, 0, 0.5),
      0px 35px 22px 0px rgba(255, 166, 0, 0.16);
  }

  30% {
    color: rgb(255, 255, 0);
    box-shadow: 0px 25px 65px 0px rgba(255, 255, 0, 0.5),
      0px 35px 22px 0px rgba(255, 255, 0, 0.16);
  }

  40% {
    color: rgb(153, 205, 50);
    box-shadow: 0px 25px 65px 0px rgba(153, 205, 50, 0.5),
      0px 35px 22px 0px rgba(153, 205, 50, 0.16);
  }

  50% {
    color: rgb(0, 128, 0);
    box-shadow: 0px 25px 65px 0px rgba(0, 128, 0, 0.5),
      0px 35px 22px 0px rgba(0, 128, 0, 0.16);
  }

  60% {
    color: rgb(0, 255, 255);
    box-shadow: 0px 25px 65px 0px rgba(0, 255, 255, 0.5),
      0px 35px 22px 0px rgba(0, 255, 255, 0.16);
  }

  70% {
    color: rgb(0, 191, 255);
    box-shadow: 0px 25px 65px 0px rgba(0, 191, 255, 0.5),
      0px 35px 22px 0px rgba(0, 191, 255, 0.16);
  }

  80% {
    color: rgb(0, 0, 255);
    box-shadow: 0px 25px 65px 0px rgba(0, 0, 255, 0.5),
      0px 35px 22px 0px rgba(0, 0, 255, 0.16);
  }

  90% {
    color: rgb(128, 0, 128);
    box-shadow: 0px 25px 65px 0px rgba(128, 0, 128, 0.5),
      0px 35px 22px 0px rgba(128, 0, 128, 0.16);
  }

  100% {
    color: rgb(216, 112, 147);
    box-shadow: 0px 25px 65px 0px rgba(216, 112, 147, 0.5),
      0px 35px 22px 0px rgba(128, 0, 128, 0.16);
  }
}
