body {
  background-color: $backGroundColor;
  color: $color;

  font-family: $fontFamily;

  padding: 0 15px;
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn {
  display: inline-block;
  padding: 10px 20px;

  border: none;
  border-radius: 20px;

  background-color: $accentColor;

  color: $color;
  font-weight: 600;
  transition: background-color $transDuration $transTimeFunction;

  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: rgb(42, 2, 153);
  }

  &:disabled,
  &:disabled:active {
    cursor: default;
    background-color: grey;
    color: rgb(177, 190, 190);
  }

  &:active {
    background-color: rgb(27, 0, 100);
  }
}
