.main {
  display: flex;

  &_title {
    display: inline-block;
    margin: 50px auto;
    padding: 5px 10px;

    font-family: "Rubik", sans-serif;
    font-size: 90px;
    font-weight: bold;

    color: aqua;
    border-radius: 10px;

    background-color: #ffffffc9;

    animation-name: changeBgcAndBoxShadowColor;
    animation-duration: 8000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
  }
}
