.main {
  display: flex;
  flex-direction: column;

  &_title {
    display: inline-block;
    margin: 50px auto;
    padding: 5px 10px;

    font-family: "Rubik", sans-serif;
    font-size: 90px;
    font-weight: bold;

    color: aqua;
    border-radius: 10px;

    background-color: #ffffffc9;

    user-select: none;
    cursor: default;

    animation-name: changeBgcAndBoxShadowColor;
    animation-duration: 8000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
  }
}

.demo {
  padding: 20px;

  //   &.demo__item {
  //   }

  &__link {
    position: relative;
    font-size: large;
    font-weight: bold;

    &::before {
      content: "";

      position: absolute;

      bottom: -5px;
      height: 3px;
      width: 0;
      background-color: $color;

      transition-property: width;
      transition-duration: 250ms;
      transition-timing-function: ease-in-out;
    }

    &:hover::before {
      width: 100%;
    }
  }
}
